@charset "utf-8";
/* CSS Document */
* {
  padding: 0px;
  margin: 0px;
}
body {
  font-size: 14px;
  color: #5b5b5b;
  font-family: 'microsoft yahei';
}
.wrapper {
  width: 1180px;
  margin: 0 auto;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
  line-height: 100%;
  font-size: 100%;
}
ul,
ol {
  list-style: none;
}
a {
  text-decoration: none;
  color: #5b5b5b;
}
img,
a img {
  border: none;
  vertical-align: top;
}
b,
strong {
  font-weight: normal;
}
i,
em {
  font-style: normal;
}
.clearfix:after {
  display: block;
  content: '';
  clear: both;
}
.clearfix {
  zoom: 1;
}
.fl {
  float: left;
}
.fr {
  float: right;
}
a.hidefocus {
  outline: none;
}
a:focus {
  outline: none;
}
