//Created by yanhuadong on 2016/6/5.
extends layout2

block content

   include model/index_top_nav
   include model/index_banner
   include model/index_news
   include model/index_foot

block script
   script(type="text/javascript" src="static/js/index.js")
