extends layout.jade

block css

block script
	script(type="text/javascript" src="static/js/jquery-1.11.3.min.js")
	script(type="text/javascript" src="static/js/click_show.js")

block con
	include model/yewuFL







